<form class="form-horizontal" role="form">

<h3>
  Projet :
  <span>{{cl.raison_social}}</span>
</h3>
  <div class="form-group">
    <label class="col-sm-2 control-label">Raison Sosial</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.raisonSocial" placeholder="Raison Social ...">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.email" placeholder="Email ...">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Tel </label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.tel" placeholder="Tel ...">
    </div>  
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Chiffre Affaire</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.chiffreA" placeholder="Chiffre Affaire ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Fax</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.fax" placeholder="Fax ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Rc Appartenance</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.rcApp" placeholder="Rc Appartenance ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Pays Original</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.pays" placeholder="Pays Original ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Ville</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.ville" placeholder="Ville ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Logo</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.logo" placeholder="Logo ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Site Web</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.site" placeholder="Site Web ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Adresse Postal</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.adress" placeholder="Adress Postal ...">
    </div>
  </div>
  
   <div class="form-group">
    <label class="col-sm-2 control-label">Nombre Employe</label>
    <div class="col-sm-8">
      <input disabled class="form-control" id="focusedInput" type="text" ng-model="cl.employe" placeholder="Nombre Employe ...">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button ui-sref="achats.clients" type="submit" class="btn btn-primary">Retours aux Clients</button>
    </div>
  </div>

</form>
